/*Custom Properties*/


:root{
    --ff-title:'Kumbh Sans', sans-serif;
    --ff-body: 'Open Sans Condensed', sans-serif;
    --ff-extra: 'Exo', sans-serif;
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #ff7800;
    --clr-extra: #dcbf5a;
    --clr-additional: #a864a8;

    --fs-h1: 4rem;
    --fs-h2: 3rem;
    --fs-h3: 2.5rem;
    --fs-h4: 2rem;
    --fs-h5: 1.5rem;
    --fs-h6:1.25em;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
    0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Navigation*/
.nav{
    text-align: center;
    padding-top: 2em;
}
.nav_item{
    display: inline;
    align-items: center;
}
.nav_link{
    padding: 1em;
    color: var(--clr-dark);
    text-decoration: none;
    font-size: var(--fs-h5);
}

.nav_link:hover{
    color: var(--clr-accent);
}

.image {
  display: block;
  width: 100%;
  height: auto;
}
.image_container {
  position: relative;
  width: 100%;
}
.image_overlay {
  
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  
}

.image:hover{
  opacity: 0.1;
}

.image_overlay:hover{
  opacity: 1;
}

.text {
  color: black;
  font-size: var(--fs-h3);
  position: absolute;
  font-family: var(--ff-secondary);
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.small_text {
  color: black;
  font-size: var(--fs-h6);
  position: absolute;
  font-family: var(--ff-secondary);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

@media (min-width: 1000px){
  .section_main_select{
      padding: 1em;
      justify-content: center;
      display: flex;
  }
  
}