/*Custom Properties*/
:root{
    --ff-title: 'Lato', sans-serif;
    --ff-body: 'Merriweather', serif;
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #ff7800;
    --clr-extra: #dcbf5a;
    --clr-additional: #a864a8;

    --fs-h1: 4rem;
    --fs-h2: 3rem;
    --fs-h3: 2.5rem;
    --fs-h4: 2rem;
    --fs-h5: 1.5rem;
    --fs-h6:1.25em;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
    0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

body{
  font-size: var(--fs-h5);
  font-family: var(--ff-body);
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Navigation*/
.nav_section{
    text-align: center;
    padding-top: 2em;
}
.nav_item{
    display: inline;
    align-items: center;
}
.nav_link{
    padding: 1em;
    color: var(--clr-dark);
    text-decoration: none;
    font-size: var(--fs-h5);
    font-family:var(--ff-title) ;
}

.nav_link:hover{
    color: var(--clr-accent);
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2px;
  
  margin-left: auto;
  margin-right: auto;
}

.column {
  flex: 100%;
  max-width: 100%;
}

.column img {
  vertical-align: middle;
}

.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: black;
}

.container:hover .overlay {
  opacity: 0.8;
}

.text {
  color: var(--clr-light);
  font-size: var(--fs-h5);
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.small_text_hours{
  color: var(--clr-light);
  font-size: var(--fs-body);
  position: absolute;
  top: 60%;
  left: 45%;
  transform: translate(-70%, -50%);
  -ms-transform: translate(-70%, -50%);
  text-align: left;
}
.small_text{
  color: var(--clr-light);
  font-size: var(--fs-h6);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
/* Tablet Styles */
@media only screen and (min-width: 481px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
}


/* Desktop Styles */
@media only screen and (min-width: 1024px) {
    .column {
      flex: 25%;
      max-width: 25%;
    }
}

/*About Us Section*/
.about{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.about_img{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}
.about_info{
  padding: 0.5em;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

