/*Custom Properties*/


:root{
    --ff-title:'Kumbh Sans', sans-serif;
    --ff-body: 'Open Sans Condensed', sans-serif;
    --ff-extra: 'Exo', sans-serif;
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #ff7800;
    --clr-extra: #dcbf5a;
    --clr-additional: #a864a8;

    --fs-h1: 4rem;
    --fs-h2: 3rem;
    --fs-h3: 2.5rem;
    --fs-h4: 2rem;
    --fs-h5: 1.5rem;
    --fs-h6:1.25em;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
    0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Navigation*/
.nav{
    text-align: center;
    padding-top: 2em;
}
.nav_item{
    display: inline;
    align-items: center;
}
.nav_link{
    padding: 1em;
    color: var(--clr-dark);
    text-decoration: none;
    font-size: var(--fs-h5);
}

.nav_link:hover{
    color: var(--clr-accent);
}