/*Custom Properties*/


:root{
    --ff-title:'Kumbh Sans', sans-serif;
    --ff-body: 'Open Sans Condensed', sans-serif;
    --ff-extra: 'Exo', sans-serif;
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #ff7800;
    --clr-extra: #dcbf5a;
    --clr-additional: #a864a8;

    --fs-h1: 4rem;
    --fs-h2: 3rem;
    --fs-h3: 2.5rem;
    --fs-h4: 2rem;
    --fs-h5: 1.5rem;
    --fs-h6:1.25em;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
    0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Navigation*/
.nav_section{
    text-align: center;
    padding-top: 2em;
}
.nav_item{
    display: inline;
    align-items: center;
}
.nav_link{
    padding: 1em;
    color: var(--clr-dark);
    text-decoration: none;
    font-size: var(--fs-h5);
}

.nav_link:hover{
    color: var(--clr-accent);
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2px;
  
  margin-left: auto;
  margin-right: auto;
}

.column {
  flex: 100%;
  max-width: 100%;
}

.column img {
  vertical-align: middle;
}

.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: black;
}

.container:hover .overlay {
  opacity: 0.8;
}

.text {
  color: var(--clr-light);
  font-size: var(--fs-h5);
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.small_text_hours{
  color: var(--clr-light);
  font-size: var(--fs-body);
  position: absolute;
  top: 60%;
  left: 45%;
  transform: translate(-70%, -50%);
  -ms-transform: translate(-70%, -50%);
  text-align: left;
}
.small_text{
  color: var(--clr-light);
  font-size: var(--fs-h6);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
/* Tablet Styles */
@media only screen and (min-width: 481px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
}


/* Desktop Styles */
@media only screen and (min-width: 1024px) {
    .column {
      flex: 25%;
      max-width: 25%;
    }
}

/*About Us Section*/
.about{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.about_img{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}
.about_info{
  padding: 0.5em;
}

/*==================
 MENU ITEM SECTION
====================*/

#mu-restaurant-menu {
  display: inline;
  float: left;
  width: 100%;
  padding: 100px 0;
}

.mu-restaurant-menu-area {
  display: inline;
  float: left;
  width: 100%;
}

.mu-restaurant-menu-content {
  display: inline;
  float: left;
  margin-top: 30px;
  width: 100%;
}

.mu-restaurant-menu {
  display: inline-block;
  width: 100%;
  text-align: center;
  border: none;
}

.mu-restaurant-menu li {
  display: inline-block;
  float: none;
}

.mu-restaurant-menu li a {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  border-radius: 0;
  color: #ff7800;
  font-size: 18px;
  margin: 0 15px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.mu-restaurant-menu li a:hover,
.mu-restaurant-menu .active a,
.mu-restaurant-menu .active a:hover,
.mu-restaurant-menu .active a:focus {
  background-color: #FFF;
}

.mu-tab-content-area {
  display: inline;
  float: left;
  width: 100%;
  padding: 50px 0;
}

.mu-tab-content-left {
  display: inline;
  float: left;
  padding-right: 15px;
  width: 100%;
}

.mu-tab-content-right {
  display: inline;
  float: left;
  padding-left: 15px;
  width: 100%;
}

.mu-menu-item-nav li {
  border-bottom: 1px dashed #ff7800;
  display: inline;
  float: left;
  margin-bottom: 20px;
  padding-bottom: 15px;
  width: 100%;
}

.mu-menu-item-nav li:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.mu-menu-item-nav li .media .media-left {
  width: 110px;
  height: 110px;
}

.mu-menu-item-nav li .media .media-left a,
.mu-menu-item-nav li .media .media-left a img {
  display: block;
  width: 110px;
  height: 110px;
}

.mu-menu-item-nav li .media .media-body .media-heading {
  font-size: 20px;
  margin-bottom: 10px;
}

.mu-menu-item-nav li .media .media-body .media-heading a {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.mu-menu-item-nav li .media .media-body .mu-menu-price {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1.5px;
  line-height: 20px;
}

.mu-menu-item-nav li .media .media-body p {
  margin-top: 10px;
  font-size: 14px;
}